@model OnlineShopTime.Models.Offers
@using CloudinaryDotNet
@using OnlineShopTime.Utils

@{
    if (Model.OfferID == null)
    {
        ViewBag.Title = "Create";
    }
    else
    {
        ViewBag.Title = "Edit";
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        @if (Model.OfferID == null)
        {
            <h2>@Resources.Home.CreateOffer</h2>
        }
        else
        {
            <h2>@Resources.Home.Edit</h2>
        }

        @Html.ValidationSummary(true)
        <div class="jumbotron">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputTitle" class="control-label">@Resources.Home.OfferPageTitleLabel:</label>
                            <input type="text" name="Name" maxlength="75" style="width: 100%; max-width: 100%; max-height: 35px" class="form-control" id="inputTitle" placeholder="@Resources.Home.OfferPageTitleLabel" value="@Model.Name" />
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="control-label">@Resources.Home.OfferPageDescriptionLabel:</label>
                            <textarea class="form-control" name="Description" style="width: 100%; max-width: 100%; min-width: 100%;" id="inputDescription" placeholder="@Resources.Home.OfferPageDescriptionLabel">@Model.Description</textarea>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-md-6">
                                <label class="control-label">@Resources.Home.OfferPageTagsLabel:</label>
                                <input type="text" name="TagsString" class="form-control" style="width: 100%; max-width: 100%; max-height: 35px" id="inputTags" placeholder="@Resources.Home.TagsSeparator" />
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label class="control-label">@Resources.Home.Price:</label>
                                <input type="text" name="Price" pattern="^[ 0-9]+$" oninvalid="setCustomValidity('@Resources.Home.PriceValidationError')" onchange="try{setCustomValidity('')}catch(e){}" class="form-control" style="width: 100%; max-width: 100%; max-height: 35px" id="inputTags" placeholder="@Resources.Home.Price" value="@Model.Price" />
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <label class="control-label">@Resources.Home.Сurrency:</label>


                                <select class="form-control" name="Currency" style="max-height: 35px; padding: 0px; padding-left: 5px; width: 100%; max-width: 100%">
                                    @if (ViewBag.Currency == "USD")
                                    {
                                        <option selected value="USD" style="margin-top: 0px">USD</option>
                                    }
                                    else
                                    {
                                        <option value="USD" style="margin-top: 0px">USD</option>
                                    }
                                    @if (ViewBag.Currency == "EUR")
                                    {
                                        <option selected value="EUR">EUR</option>
                                    }
                                    else
                                    {
                                        <option value="EUR">EUR</option>
                                    }
                                    @if (ViewBag.Currency == "RUB")
                                    {
                                        <option selected value="RUB">RUB</option>
                                    }
                                    else
                                    {
                                        <option value="RUB">RUB</option>
                                    }
                                    @if (ViewBag.Currency == "CNY")
                                    {
                                        <option selected value="CNY">CNY</option>
                                    }
                                    else
                                    {
                                        <option value="CNY">CNY</option>
                                    }
                                </select>




                                <div class="dropdown">
                                    <ul class="dropdown-menu dropdown-menu-right" style="margin: 0 auto; left: 0px; width: 50px"></ul>
                                </div>

                            </div>

                        </div>
                        @if (Model.OfferID == null)
                        {
                            <div class="form-group" style="margin-top: 1em">
                                <button type="submit" class="btn btn-default">@Resources.Home.CreateButton</button>
                            </div>
                        }
                        else
                        {
                            <div class="form-group" style="margin-top: 1em">
                                <button type="submit" class="btn btn-default">@Resources.Home.Edit</button>
                            </div>
                        }
                    </form>
                </div>
                <div class="col-md-4 column">
                    <form>
                        @Cloud.Api.BuildUploadForm("test-field", "auto", new SortedDictionary<string, object>() { { "tags", (object)"direct_photo_album" } }, new Dictionary<string, string>() { { "multiple", "false" } })
                    </form>
                    <div class="progress progress-striped" style="width:70%" id="progress" hidden="hidden">
                        <div class="progress-bar" role="progressbar" style="width: 100%">
                        </div>
                    </div>
                    <br />
                    <div class="uploaded_info_holder" style="max-width: 310px; max-height: 310px; min-width: 310px; min-height: 310px; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @Cloud.GetCloudinaryJsConfig()

    <script type="text/javascript">
        $(function () {
            var count = 0;
            $('.cloudinary-fileupload')
            .fileupload({
                dropZone: '#direct_upload',
                start: function () {
                    $('.cloudinary-fileupload').hide();
                    $('#progress').show();
                    $('#progress').addClass('active');
                },
                progress: function () {
                    //do nothing
                },
            })
            .on('cloudinarydone', function (e, data) {
                $('.cloudinary-fileupload').show();
                $('#progress').hide();
                $('#progress').removeClass('active');
                $.post('/Offer/AddImageToOffer', data.result);
                var style = "style=\"float: right; margin-bottom: 10px\"";
                if (count % 2 == 0)
                    style = "style=\"float: left; margin-bottom: 10px\"";
                var info = $('<div class="uploaded_info" ' + style + '/>');
                $(info).append($('<div class="image"/>').append(
                  $.cloudinary.image(data.result.public_id, {
                      format: data.result.format, width: 150, height: 150, crop: "fill"
                  })
                ));
                $('.uploaded_info_holder').append(info);
                count++;
                if (count >= 4) {
                    $('.cloudinary-fileupload').hide();
                    $('#progress').hide();
                }
            });
        });
    </script>
}