@model OnlineShopTime.Models.Offers

@{
    ViewBag.Title = "Create";
}

<h2>@Resources.Home.CreateOffer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Offers</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OfferID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferID)
                @Html.ValidationMessageFor(model => model.OfferID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateAndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAndTime)
                @Html.ValidationMessageFor(model => model.DateAndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo1URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo1URL)
                @Html.ValidationMessageFor(model => model.Photo1URL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo2URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo2URL)
                @Html.ValidationMessageFor(model => model.Photo2URL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo3URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo3URL)
                @Html.ValidationMessageFor(model => model.Photo3URL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo4URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo4URL)
                @Html.ValidationMessageFor(model => model.Photo4URL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
