@model OnlineShopTime.Models.Offers

@{
    ViewBag.Title = @Model.Name;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <br />

    <div class="container jumbotron">
        <center>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>@Model.Name</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>PRICE</h2>
                </div>
            </div>
        </center>

        <hr />

        <div class="row">
            @{ViewBag.URL = Model.Photo1URL;}
            @Html.Partial("_GalleryItem")
            @{ViewBag.URL = Model.Photo2URL;}
            @Html.Partial("_GalleryItem")
            @{ViewBag.URL = Model.Photo3URL;}
            @Html.Partial("_GalleryItem")
            @{ViewBag.URL = Model.Photo4URL;}
            @Html.Partial("_GalleryItem")
        </div>

        <hr />

    </div>
}