@model OnlineShopTime.Models.Offers
@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @Model.Name;
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<br />

<div class="container jumbotron">

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <h2>@Model.Name</h2>
        </div>
    </div>

    <hr />

    <div class="row">
        @{ViewBag.URL = Model.Photo1URL;}
        @Html.Partial("_GalleryItem")
        @{ViewBag.URL = Model.Photo2URL;}
        @Html.Partial("_GalleryItem")
        @{ViewBag.URL = Model.Photo3URL;}
        @Html.Partial("_GalleryItem")
        @{ViewBag.URL = Model.Photo4URL;}
        @Html.Partial("_GalleryItem")
    </div>

    <hr />

    <div class="row">
        <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
            <div class="panel-heading">@Resources.Home.OfferPageDescriptionLabel</div>
            <div class="panel-body" style="word-wrap: break-word">
                @Model.Description
            </div>
        </div>
    </div>

    @if (Model.Tags.Count != 0)
    {

        <div class="row">
            <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                <div class="panel-heading">@Resources.Home.Tags</div>
                <div class="panel-body" style="word-wrap: break-word">
                    @foreach (Tags Tag in Model.Tags)
                    {
                        @Html.ActionLink('#' + Tag.Name, "Search", "Home", new { TagID = Tag.TagID }, null); <label>&nbsp</label>
                    }
                </div>
            </div>
        </div>

    }


    <div class="row">
        <center>
            <div class="col-lg-3 col-lg-3">
                <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                    <div class="panel-heading">@Resources.Home.OfferedBy</div>
                    <div class="panel-body" style="word-wrap: break-word">
                        @{String DisplayName = Model.Users.FirstName + " " + Model.Users.LastName; }
                        @Html.ActionLink((string)DisplayName, "ShowUserOffers", "Offer", new { UserID = @Model.OfferedBy }, new { @style = "margin-top:0px" })
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-lg-3">
                <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                    <div class="panel-heading">@Resources.Home.OfferDate</div>
                    <div class="panel-body" style="word-wrap: break-word">
                        @Model.DateAndTime
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-lg-3">
                <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                    <div class="panel-heading">@Resources.Home.Price</div>
                    <div class="panel-body" style="word-wrap: break-word">
                        @Model.Price
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-lg-3">
                <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                    <div class="panel-heading">@Resources.Home.Raiting</div>
                    <div class="panel-body" style="word-wrap: break-word">
                        @{
                            float? rating = Model.OfferRaiting.Where(m => m.OfferID == Model.OfferID).Average(m => m.Raiting);
                            bool read_only = User.Identity.GetUserId() == null || User.Identity.GetUserId() == Model.OfferedBy;
                        }
                        <div data-rateit-readonly="@read_only.ToString().ToLower()" data-rateit-value="@rating" data-rateit-ispreset="true" data-rateit-resetable="false" data-rateit-step="1" data-offerid="@Model.OfferID" data-userid="@User.Identity.GetUserId()" class=" rateit"></div>
                    </div>
                </div>
            </div>

        </center>
    </div>



    <div class="row">
        <center>

            @if (User.Identity.Name != "")
            {
                WorkWithUsers WWU = new WorkWithUsers();
                Users ActiveUser = WWU.GetUserByName(User.Identity.Name);

                if (ActiveUser.UserRights == "Admin")
                {
                    if (Model.OfferedBy == ActiveUser.UserID)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="/Offer/Create?OfferID=@Model.OfferID" class="btn btn-default btn-primary btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Edit</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="/Offer/DeleteOffer?OfferID=@Model.OfferID" class="btn btn-default btn-danger btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Delete</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="/Offer/Create?OfferID=@Model.OfferID" class="btn btn-default btn-primary btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Edit</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="/Offer/DeleteOffer?OfferID=@Model.OfferID" class="btn btn-default btn-danger btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Delete</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            @{ WorkWithOrders WWOR = new WorkWithOrders(); }
                            @{ bool Ordered = WWOR.UserHasThisOfferOrdered(ActiveUser.UserID, Model.OfferID); }
                            @if (!Ordered)
                            {
                                <a href="/Order/OrderConfirm?OfferID=@Model.OfferID" class="btn btn-default btn-success btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.OrderIT!</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-default btn-success btn-lg disabled" style="width: 100%; margin-top: 2%;">@Resources.Home.YouHasAlreadyOrderedIt!</a>
                            }
                        </div>
                    }
                }
                else
                {
                    if (Model.OfferedBy == ActiveUser.UserID)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="/Offer/Create?OfferID=@Model.OfferID" class="btn btn-default btn-primary btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Edit</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="/Offer/DeleteOffer?OfferID=@Model.OfferID" class="btn btn-default btn-danger btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.Delete</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @{ WorkWithOrders WWOR = new WorkWithOrders(); }
                            @{ bool Ordered = WWOR.UserHasThisOfferOrdered(ActiveUser.UserID, Model.OfferID); }
                            @if (!Ordered)
                            {
                                <a href="/Order/OrderConfirm?OfferID=@Model.OfferID" class="btn btn-default btn-success btn-lg" style="width: 100%; margin-top: 2%">@Resources.Home.OrderIT!</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-default btn-success btn-lg disabled" style="width: 100%; margin-top: 2%;">@Resources.Home.YouHasAlreadyOrderedIt!</a>
                            }
                        </div>
                    }
                }
            }

        </center>
    </div>

</div>

<!-- RateIt Script -->
@section Scripts {
    <script type="text/javascript">
        //we bind only to the rateit controls within the products div
        $('.rateit').bind('rated reset', function (e) {
            var ri = $(this);

            //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
            var value = ri.rateit('value');
            var productID = ri.data('offerid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
            var userID = ri.data('userid');

            //maybe we want to disable voting?
            ri.rateit('readonly', false);

            $.ajax({
                url: '/Home/SetOfferRating', //your server side script
                data: { id: productID, value: value, userID: userID }, //our data
                type: 'POST',
                success: function (data) {
                    //$('#response').append('<li>' + data + '</li>');

                },
                error: function (jxhr, msg, err) {
                    //$('#response').append('<li style="color:red">' + msg + '</li>');
                    alert("RateIt error!\n" + msg);
                }
            });
        });
    </script>
}