@using Microsoft.AspNet.Identity
@using OnlineShopTime.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Home.Hello,  @User.Identity.GetUserName()! <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink(@Resources.Home.PasswordChange, "Manage", "Account")
                    </li>
                    <li>
                        @Html.ActionLink(@Resources.Home.MyProfile, "EditProfile", "Account")
                    </li>
                    @{WorkWithUsers WWU = new WorkWithUsers();}
                    @{bool IsUserBanned = false; }
                    @if (IdentityExtensions.GetUserId(User.Identity) != null)
                    {
                        IsUserBanned = WWU.GetUserRole(IdentityExtensions.GetUserId(User.Identity)) == "Banned";
                    }

                    @if (!IsUserBanned)
                    {
                        if (WWU.GetUserRole(IdentityExtensions.GetUserId(User.Identity)) == "Admin")
                        {
                            <li role="presentation" class="divider"></li>
                            <li>
                                @Html.ActionLink(@Resources.Home.UsersRights, "AdminPanel", "Administrator")
                            </li>
                        }
                        <li role="presentation" class="divider"></li>
                        <li>
                            @Html.ActionLink(@Resources.Home.CreateOffer, "Create", "Offer")

                        </li>
                        <li>
                            @{ String ActiveUserID = IdentityExtensions.GetUserId(User.Identity); }
                            @Html.ActionLink(@Resources.Home.MyOffers, "ShowUserOffers", "Offer", new { UserID = ActiveUserID }, null)
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li>
                            @Html.ActionLink(@Resources.Home.MyOrders, "TabClick", "Order", new { TabID = 2 }, null)
                        </li>
                    }
                    else
                    {
                        <li role="presentation" class="divider"></li>
                        <li>
                            @Html.ActionLink(@Resources.Home.AdminsContacts, "ShowAdminContacts", "Administrator")
                        </li>                         
                    }
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Home.Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Home.Registration, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@Resources.Home.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
