@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Home.Hello,  @User.Identity.GetUserName()! <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink(@Resources.Home.PasswordChange, "Manage", "Account")
                    </li>
                    <li>
                        @Html.ActionLink(@Resources.Home.MyProfile, "EditProfile", "Account")
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        @Html.ActionLink(@Resources.Home.CreateOffer, "Create", "Offer")
                    </li>
                    <li>
                        @Html.ActionLink(@Resources.Home.MyOffers, "ShowUserOffers", "Offer")
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        @Html.ActionLink(@Resources.Home.MyOrders, "UserOrdes", "Order")
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Home.Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Home.Registration, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@Resources.Home.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
