@model OnlineShopTime.Models.Offers
@using CloudinaryDotNet
@using OnlineShopTime.Utils
@using Microsoft.AspNet.Identity

@{string defaultImage = "v6ac3uaxfe5gtlqtrbr7";}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 container">
    <div class="jumbotron" style="word-wrap: break-word; padding-right: 30px; padding-left: 30px; padding-top: 24px; padding-bottom: 24px">

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-4" style="padding-bottom:10px">
                @Cloud.Api.UrlImgUp.Transform(new Transformation().Width(157).Height(140).Crop("fill")).BuildImageTag(Model.Photo1URL ?? defaultImage, "id = image", "class=img-responsive")
            </div>
            <div class="col-lg-7 col-md-7 col-sm-9 col-xs-8">
                <div class="container">
                    <div class="row">
                        @{
                            float? rating = Model.OfferRaiting.Where(m => m.OfferID == Model.OfferID).Average(m => m.Raiting);
                            bool read_only = User.Identity.GetUserId() == null || User.Identity.GetUserId() == Model.OfferedBy;
                        }
                        <span class="glyphicon glyphicon-star"></span>  <div data-rateit-readonly="@read_only.ToString().ToLower()" data-rateit-value="@rating" data-rateit-ispreset="true" data-rateit-resetable="false" data-rateit-step="1" data-offerid="@Model.OfferID" data-offeredby="@Model.OfferedBy" data-userid="@User.Identity.GetUserId()" class="rateit"></div>
                    </div>
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span>  @Model.Price / @Resources.Home.Hour.ToLower()
                    </div>
                    <div class="row">
                        <h3 style="margin-top:0px">
                            @Html.ActionLink(@Model.Name, "OfferPage", "Offer", new { OfferID = @Model.OfferID }, null)
                        </h3>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="well">
                    <h5 style="text-overflow:ellipsis">@Model.Description</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    @{
                        String DisplayName = Model.Users.FirstName + " " + Model.Users.LastName;
                    }
                        <span class="glyphicon glyphicon-user"></span>  @Html.ActionLink((string)DisplayName, "ShowUserOffers", "Offer", new { UserID = @Model.OfferedBy }, new { @style = "margin-top:0px" })
                </h4>
            </div>
        </div>

        @if (ViewBag.Buttons != null) //Only for Orders Page. Forget about everything that going down here.
        {
            <br>

            <div class="">
                <div class="panel panel-default" style="width: 100%">
                    <div class="panel-heading">@Resources.Home.OrderStatus</div>
                    <div class="panel-body">
                        <center>
                            <h2 style="margin-top: -5px; margin-bottom: -5px"> @ViewBag.Status</h2>
                        </center>
                    </div>
                </div>
            </div>

            if (ViewBag.Buttons == "History")
            {
                <div class="row">
                    <a href="DenyOrder?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Delete</a>
                </div>
            }

            if (ViewBag.Buttons == "OrderAwaitConfirmation")
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a href="CancelOrderConfurm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderCancel</a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="ShowUserInfo?UserID=@ViewBag.UserID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Seller</a>
                    </div>
                </div>
            }

            if (ViewBag.Buttons == "ActiveOrderStatusActive")
            {
                <div class="row">
                    <div class="col-lg-4">
                        <a href="TradeCompleteConfurm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.End</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="CancelOrderConfurm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderCancel</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="ShowUserInfo?UserID=@ViewBag.UserID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Seller</a>
                    </div>
                </div>
            }

            if (ViewBag.Buttons == "IncomingOrdersActiveAwaitConfurm")
            {
                <div class="row">
                    <div class="col-lg-4">
                        <a href="ApplyOrderConfirm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderApply</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="CancelOrderConfurm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderCancel</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="ShowUserInfo?UserID=@ViewBag.UserID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Client</a>
                    </div>
                </div>                 
            }

            if (ViewBag.Buttons == "IncomingOrdersActive")
            {
                <div class="row">
                    <div class="col-lg-6">
                        <a href="CancelOrderConfurm?OrderID=@ViewBag.OrderID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.OrderCancel</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="ShowUserInfo?UserID=@ViewBag.UserID" class="btn btn-default btn-lg" style="width: 100%; margin-top: 2%;">@Resources.Home.Client</a>
                    </div>
                </div>                   
            }
        }
    </div>
</div>

