@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity
@using CloudinaryDotNet
@using OnlineShopTime.Utils

@{
    string DivClass = null;
    string MaxWidth = null;
}

@if (ViewBag.ShowContactInfo != null)
{
    DivClass = "";
    MaxWidth = "300px";
}
else
{
    DivClass = "col-lg-3 col-md-4 col-sm-6 col-xs-12 containe";
    MaxWidth = "260px";
}

<div class=@DivClass style="padding-left: 0px; padding-right: 0px;">
    <div class="jumbotron row" style="max-width: @MaxWidth; word-wrap: break-word; padding-left: 0px; padding-right: 0px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Cloud.Api.UrlImgUp.Transform(new Transformation().Width(150).Height(150).Crop("fill")).BuildImageTag(Model.AvatarURL, "id = image")
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="Offer/ShowUserOffers?UserID=@Model.UserID">
                <h3 style="line-height:1px">
                    @Model.FirstName
                </h3>
                <h3 style="line-height:1px">
                    @Model.LastName
                </h3>
            </a>
            <br />

            @{
                float? likesCount = Model.UserRaiting.Where(m => m.UserID == Model.UserID && m.Rating == 1).Sum(m => m.Rating);
                float? dislikesCount = Model.UserRaiting.Where(m => m.UserID == Model.UserID && m.Rating == -1).Sum(m => m.Rating) * -1;
            }
            <div id="like-buttons">
                <button class="btn btn-default btn-primary" data-userid="@Model.UserID" data-voterid="@User.Identity.GetUserId()" id="like"><span id="likenum">@likesCount</span>  <span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button class="btn btn-default btn-danger" data-userid=@Model.UserID data-voterid="@User.Identity.GetUserId()" id="dislike"><span class="glyphicon glyphicon-thumbs-down"></span> <span id="dislikenum">@dislikesCount</span></button>
            </div>

            @if (ViewBag.ShowContactInfo != null)
            {
                <br>
                <div class="row" style="width: 90%">

                    <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%">
                        <div class="panel-heading">@Resources.Home.PhoneNumber</div>
                        <div class="panel-body" style="margin-top:-10px; margin-bottom: -10px;word-wrap: break-word">
                            @Model.PhoneNumber
                        </div>
                    </div>
                </div>

                <div class="row" style="width: 90%">
                    <div class="panel panel-default" style="margin-left: 1%; margin-right: 1%; margin-bottom: -10px">
                        <div class="panel-heading">Email</div>
                        <div class="panel-body" style="margin-top: -10px;margin-bottom: -10px; word-wrap: break-word">
                            @Model.Email
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
