@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models
@using Microsoft.AspNet.Identity
@using CloudinaryDotNet
@using OnlineShopTime.Utils

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 container" style="padding-left: 0px; padding-right: 0px;">
    <div class="jumbotron row" style="max-width: 260px; word-wrap: break-word; padding-left: 0px; padding-right: 0px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Cloud.Api.UrlImgUp.Transform(new Transformation().Width(150).Height(150).Crop("fill")).BuildImageTag(Model.AvatarURL, "id = image")
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="line-height:1px">
                @Html.ActionLink(@Model.FirstName, "ShowUserOffers", "Offer", new { UserID = @Model.UserID }, null )
            </h3>
            <h3 style="line-height:1px">
                @Html.ActionLink(@Model.LastName, "ShowUserOffers", "Offer", new { UserID = @Model.UserID }, null)               
            </h3>
            <br />
            <h6>PLACE OF LIKES AND DISLIKES</h6>
        </div>
    </div>
</div>