@model OnlineShopTime.Models.Offers
@using CloudinaryDotNet

@{string defaultImage = "v6ac3uaxfe5gtlqtrbr7";}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 container">
    <div class="jumbotron" style=" word-wrap: break-word">

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-4">
                @ViewBag.Cloudinary.Api.UrlImgUp.Transform(new Transformation().Width(140).Height(140).Crop("fill")).BuildImageTag(Model.Photo1URL ?? defaultImage, "id = image", "class=img-responsive")
            </div>
            <div class="col-lg-7 col-md-7 col-sm-9 col-xs-8">
                <h3 style="margin-top:0px">@Model.Name</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5 style="text-overflow:ellipsis">@Model.Description</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>@Model.Users.FirstName @Model.Users.LastName</h3>
            </div>
        </div>

    </div>
</div>
