@using OnlineShopTime.Models;

@{
    ViewBag.Title = @Resources.Home.ShopName;
}

<br />
<center>
    @using (@Html.BeginForm("TabClick", "Home"))
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="btn-group">
                    <button type="submit" name="TabID" class="btn btn-default" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.TopOffers</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="btn-group">
                    <button type="submit" class="btn btn-default" name="TabID" value="3" style="width: 250px; margin-top: 10px; ">@Resources.Home.NewOffers</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="btn-group">
                    <button type="submit" class="btn btn-default" name="TabID" value="2" style="width: 250px; margin-top: 10px; ">@Resources.Home.TopUsers</button>
                </div>
            </div>
        </div>
    }
</center>
<br />

<div class="container-fluid" id="offers">
    <div class="row">
        @if (ViewBag.ViewData.ShowString == "TopOffers")
        {
            for (int i = 0; i < 10; i++)
            {
                @Html.Partial("_OfferPartial");
            }
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <center>
            @if (ViewBag.ViewData.ShowString == "TopUsers")
            {
                foreach (Users TopUser in ViewBag.ViewData.TopUsers)
                {
                    @Html.Partial("_UserPartial", TopUser);
                }
            }
        </center>
    </div>
</div>

<div class="container-fluid" id="offers">
    <div class="row">
        @if (ViewBag.ViewData.ShowString == "NewOffers")
        {
            foreach (Offers NewOffer in ViewBag.ViewData.NewOffers)
            {
                @Html.Partial("_OfferPartial", NewOffer)
            }
        }
    </div>
</div>

<!-- RateIt Script -->
@section Scripts {
    <script type="text/javascript">
    //we bind only to the rateit controls within the products div
    $('#offers .rateit').bind('rated reset', function (e) {
        var ri = $(this);

        //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
        var value = ri.rateit('value');
        var productID = ri.data('offerid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
        var userID = ri.data('userid');

            //maybe we want to disable voting?
            ri.rateit('readonly', false);

            $.ajax({
                url: '/Home/SetRating', //your server side script
                data: { id: productID, value: value, userID: userID }, //our data
                type: 'POST',
                success: function (data) {
                    //$('#response').append('<li>' + data + '</li>');

                },
                error: function (jxhr, msg, err) {
                    //$('#response').append('<li style="color:red">' + msg + '</li>');
                    alert("RateIt error!\n" + msg);
                }
            });
        });
    </script>
}
