@using OnlineShopTime.Models;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = @Resources.Home.ShopName;
}

<br />

@{ WorkWithUsers WWU = new WorkWithUsers(); }

<center>
    @using (@Html.BeginForm("TabClick", "Home"))
    {
        <div class="row">
            <div class="col-lg-4">
                @if (ViewBag.ViewData.ShowString == "TopOffers")
                {
                    <button type="submit" name="TabID" class="btn btn-default btn-success" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.TopOffers</button>
                }
                else
                {
                    <button type="submit" name="TabID" class="btn btn-default" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.TopOffers</button>
                }
            </div>
            <div class="col-lg-4">
                @if (ViewBag.ViewData.ShowString == "NewOffers")
                {
                    <button type="submit" class="btn btn-default btn-success" name="TabID" value="3" style="width: 250px; margin-top: 10px; ">@Resources.Home.NewOffers</button>
                }
                else
                {
                    <button type="submit" class="btn btn-default" name="TabID" value="3" style="width: 250px; margin-top: 10px; ">@Resources.Home.NewOffers</button>
                }
            </div>
            <div class="col-lg-4">
                @if (ViewBag.ViewData.ShowString == "TopUsers")
                {
                    <button type="submit" class="btn btn-default btn-success" name="TabID" value="2" style="width: 250px; margin-top: 10px; ">@Resources.Home.TopUsers</button>
                }
                else
                {
                    <button type="submit" class="btn btn-default" name="TabID" value="2" style="width: 250px; margin-top: 10px; ">@Resources.Home.TopUsers</button>
                }
            </div>
        </div>
    }

    <br />

    <div id="TagCloud" class="jumbotron" style="width: 97%; height: 150px; padding: 0px">
    </div>

</center>



<div class="container-fluid" id="offers">
    <div class="row">
        @if (ViewBag.ViewData.ShowString == "TopOffers")
        {
            foreach (Offers TopOffer in ViewBag.ViewData.TopOffers)
            {
                @Html.Partial("_OfferPartial", TopOffer);
            }
        }
    </div>
</div>

<div class="container-fluid" id="users">
    <div class="row">
        <center>
            @if (ViewBag.ViewData.ShowString == "TopUsers")
            {
                foreach (Users TopUser in ViewBag.ViewData.TopUsers)
                {
                    @Html.Partial("_UserPartial", TopUser);
                }
            }
        </center>
    </div>
</div>

<div class="container-fluid" id="offers">
    <div class="row">
        @if (ViewBag.ViewData.ShowString == "NewOffers")
        {
            foreach (Offers NewOffer in ViewBag.ViewData.NewOffers)
            {
                @Html.Partial("_OfferPartial", NewOffer)
            }
        }
    </div>
</div>


@section Scripts {
    <!-- RateIt Script -->
    <script type="text/javascript">
        //we bind only to the rateit controls within the products div
        $('#offers .rateit').bind('rated reset', function (e) {
            var ri = $(this);

            //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
            var value = ri.rateit('value');
            var productID = ri.data('offerid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
            var userID = ri.data('userid');

            //maybe we want to disable voting?
            ri.rateit('readonly', false);

            $.ajax({
                url: '/Home/SetOfferRating', //your server side script
                data: { id: productID, value: value, userID: userID }, //our data
                type: 'POST',
                success: function (data) {
                    //$('#response').append('<li>' + data + '</li>');

                },
                error: function (jxhr, msg, err) {
                    //$('#response').append('<li style="color:red">' + msg + '</li>');
                    alert("RateIt error!\n" + msg);
                }
            });
        });
    </script>

    <!-- Likes Script -->
    <script type="text/javascript">
        $('#users #like-buttons').each(function (i, elem) {
            if ($('#like', elem).data("voterid") === "" || $('#like', elem).data("voterid") === $('#like', elem).data("userid")) {
                $('#like', elem).attr("disabled", "disabled");
            }
            if ($('#dislike', elem).data("voterid") === "" || $('#dislike', elem).data("voterid") === $('#dislike', elem).data("userid")) {
                $('#dislike', elem).attr("disabled", "disabled");
            }
        });

        $('#users #like').click(function (e) {
            var button = $(this);
            var userID = button.data("userid");
            var voterID = button.data("voterid");
            var button = $(this).parent("#like-buttons");

            $.ajax({
                url: '/Home/SetLike',
                data: { userID: userID, voterID: voterID },
                type: 'POST',
                success: function (data) {
                    var likeval = parseInt($('#likenum', button).text(), 10);
                    var dislikeval = parseInt($('#dislikenum', button).text(), 10);
                    if (data === "new raiting") {
                        $('#likenum', button).text(likeval + 1);
                    } else if (data === "raiting changed") {
                        $('#likenum', button).text(likeval + 1);
                        $('#dislikenum', button).text(dislikeval - 1);
                    }
                },
                error: function (jxhr, msg, err) {
                    alert("Like error!\n" + msg);
                }
            });
        });
        $('#users #dislike').click(function (e) {
            var button = $(this);
            var userID = button.data('userid');
            var voterID = button.data('voterid');
            var button = $(this).parent("#like-buttons");

            $.ajax({
                url: '/Home/SetDislike',
                data: { userID: userID, voterID: voterID },
                type: 'POST',
                success: function (data) {
                    var dislikeval = parseInt($('#dislikenum', button).text(), 10);
                    var likeval = parseInt($('#likenum', button).text(), 10);
                    if (data === "new raiting") {
                        $('#dislikenum', button).text(dislikeval + 1);
                    } else if (data === "raiting changed") {
                        $('#dislikenum', button).text(dislikeval + 1);
                        $('#likenum', button).text(likeval - 1);
                    }
                },
                error: function (jxhr, msg, err) {
                    alert("Like error!\n" + msg);
                }
            });
        });

        var TagList = new Array();

        var Weight = 0.0;

        @foreach(WeightTags WT in ViewBag.ViewData.WeightTags)
        {
            <text>
                var tag = new Object({
                    text: '@WT.TagName',
                    weight: Number("@WT.Weight"),
                    link: "Home/Search?TagID=@WT.TagID"
                });
                TagList.push(tag);
            </text>
        }

        $(function () {
            $("#TagCloud").jQCloud(TagList);
        });
    </script>
}
