@model OnlineShopTime.Models.OrdersDataModel
@using OnlineShopTime.Models

@{
    ViewBag.Title = "ShowOrders";
}
<br>
<center>
    @using (@Html.BeginForm("TabClick", "Order"))
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="btn-group">
                        <button type="submit" name="TabID" class="btn btn-default" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.OrdersHistory</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="btn-group">
                        <button type="submit" name="TabID" class="btn btn-default" value="2" style="width: 250px; margin-top: 10px">@Resources.Home.OpenTrades</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="btn-group">
                        <button type="submit" name="TabID" class="btn btn-default" value="3" style="width: 250px; margin-top: 10px">@Resources.Home.IncomingOrders</button>
                    </div>
                </div>
            </div>
        </div>
    }
</center>
<br>
<div class="container">
    @foreach (Orders Order in @Model.Data)
    {
        ViewBag.OrderID = Order.OrderID;
        ViewBag.ClientID = Order.ClientID;
        if (Model.DataToShow == "ActiveOrders")
        {
        }
        if (Model.DataToShow == "OrdersHistory")
        {
        }
        if (Model.DataToShow == "IncomingOrders")
        {
            <hr/>
            if (Order.OrderStatus == "Await")
            {
                ViewBag.Buttons = "IncomingOrdersAwait"; 
            }
            if (Order.OrderStatus == "Active")
            {
                ViewBag.Buttons = "IncomingOrdersActive";
            }            
            @Html.Partial("_OfferPartial", Order.Offers);
        }       
    }
</div>
