@model OnlineShopTime.Models.OrdersDataModel
@using OnlineShopTime.Models

@{
    ViewBag.Title = "ShowOrders";
}
<br>
<center>
    @using (@Html.BeginForm("TabClick", "Order"))
    {
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    @if (Model.DataToShow == "OrdersHistory")
                    {
                        <button type="submit" name="TabID" class="btn btn-default btn-success" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.OrdersHistory</button>
                    }
                    else
                    {
                        <button type="submit" name="TabID" class="btn btn-default" value="1" style="width: 250px; margin-top: 10px">@Resources.Home.OrdersHistory</button>
                    }
                </div>

                <div class="col-lg-4 col-md-4">
                    @if (Model.DataToShow == "ActiveOrders")
                    {
                        <button type="submit" name="TabID" class="btn btn-default btn-success" value="2" style="width: 250px; margin-top: 10px">@Resources.Home.OpenTrades</button>
                    }
                    else
                    {
                        <button type="submit" name="TabID" class="btn btn-default" value="2" style="width: 250px; margin-top: 10px">@Resources.Home.OpenTrades</button>
                    }
                </div>

                <div class="col-lg-4 col-md-4">
                    @if (Model.DataToShow == "IncomingOrders")
                    {
                        <button type="submit" name="TabID" class="btn btn-default btn-success" value="3" style="width: 250px; margin-top: 10px">@Resources.Home.IncomingOrders</button>
                    }
                    else
                    {
                        <button type="submit" name="TabID" class="btn btn-default" value="3" style="width: 250px; margin-top: 10px">@Resources.Home.IncomingOrders</button>
                    }
                </div>
            </div>

        </div>
    }
</center>
<br>
<div class="container">
    <hr />
    @foreach (Orders Order in Model.Data)
    {
        if (Model.DataToShow == "OrdersHistory")
        {
            ViewBag.Buttons = "History";
            ViewBag.Status = @Resources.Home.TransactionIsСompleted;
        }
        if (Model.DataToShow == "ActiveOrders")
        {
            ViewBag.UserID = Order.Offers.OfferedBy;
            if (Order.OrderStatus == "Active")
            {
                ViewBag.Buttons = "ActiveOrderStatusActive";
                ViewBag.Status = @Resources.Home.OrderActive;
            }
            if (Order.OrderStatus == "Await Confirmation")
            {
                ViewBag.Buttons = "OrderAwaitConfirmation";
                ViewBag.Status = @Resources.Home.AwaitConfirmation;
            }
        }
        if (Model.DataToShow == "IncomingOrders")
        {
            ViewBag.UserID = Order.ClientID;
            if (Order.OrderStatus == "Active")
            {
                ViewBag.Buttons = "IncomingOrdersActive";
                ViewBag.Status = @Resources.Home.OrderActive;
            }
            if (Order.OrderStatus == "Await Confirmation")
            {
                ViewBag.Buttons = "IncomingOrdersActiveAwaitConfurm";
                ViewBag.Status = @Resources.Home.AwaitConfirmation;
            }
        }
        ViewBag.OrderID = Order.OrderID;
        @Html.Partial("_OfferPartial", Order.Offers);
    }
    @if (@Model.Data.Count() == 0)
    {
        <center>
            <div class="jumbotron"><h2>@Resources.Home.NoItems</h2></div>
        </center>
    }
</div>


