@using Microsoft.AspNet.Identity
@model OnlineShopTime.Models.ManageUserViewModel

<br />
<br />
<div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8"><h2>@Resources.Home.ChangePassword</h2></div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="jumbotron col-lg-8 col-md-8">
       <center><p>&nbsp; @Resources.Home.YouEnteredAs: <strong>@User.Identity.GetUserName()</strong>.</p></center>
        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="col-md-4 control-label" for="OldPassword">@Resources.Home.CurrentPassword:</label>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="NewPassword">@Resources.Home.NewPassword:</label>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="ConfirmPassword">@Resources.Home.Confurm:</label>
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="@Resources.Home.ChangePassword" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />