@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models

@{
    ViewBag.Title = "EditProfile";
}

<h2>EditProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h4>Users</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordHash, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PasswordHash)
                            @Html.ValidationMessageFor(model => model.PasswordHash)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SecurityStamp, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SecurityStamp)
                            @Html.ValidationMessageFor(model => model.SecurityStamp)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRights, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserRights)
                            @Html.ValidationMessageFor(model => model.UserRights)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AvatarURL, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AvatarURL)
                            @Html.ValidationMessageFor(model => model.AvatarURL)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Discriminator, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Discriminator)
                            @Html.ValidationMessageFor(model => model.Discriminator)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Avatar</h4>
                <hr />
                @if (Model.AvatarURL != null)
                {
                    @Html.Partial("_ChangeAvatarPartial", new ManageUserViewModel(ViewBag.Cloudinary))
                }
                else
                {
                    @Html.Partial("_SetAvatarPartial")
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @ViewBag.Cloudinary.GetCloudinaryJsConfig()

    <script type="text/javascript">
        $(function () {
            $('.cloudinary-fileupload')
            .fileupload({
                dropZone: '#direct_upload',
                start: function () {
                    $('.cloudinary-fileupload').hide();
                    $('#progress').show();
                    $('#progress').addClass('active');
                },
                progress: function () {
                    //do nothing
                },
            })
            .on('cloudinarydone', function (e, data) {
                $('.cloudinary-fileupload').show();
                $('#progress').hide();
                $('#progress').removeClass('active');
                $.post('/Account/UploadDirect', data.result);
                var info = $('<div class="uploaded_info"/>');
                $('.uploaded_info_holder').empty();
                $(info).append($('<div class="image"/>').append(
                  $.cloudinary.image(data.result.public_id, {
                      format: data.result.format, width: 460, height: 300, crop: "fill"
                  })
                ));
                $('.uploaded_info_holder').append(info);
                $('#progress').hide();
            });
        });
    </script>
}
