@model OnlineShopTime.Models.Users
@using OnlineShopTime.Models
@using OnlineShopTime.Utils

@{
    ViewBag.Title = "EditProfile";
}

<h2>@Resources.Home.EditProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="form-horizontal" style="min-height: 10em">
                    <h4>Users</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserID)

                    <div class="jumbotron" style="height: 380px">

                        <div class="form-group">
                            <label class="col-lg-4" style="margin-top: -5%">@Resources.Home.FirstName:</label>
                            <input class="form-control" name="FirstName" maxlength="75" style="width: 100%; max-width: 100%; max-height: 35px" value="@Model.FirstName">
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4">@Resources.Home.LastName:</label>
                            <input name="LastName" maxlength="75" class="form-control" style="width: 100%; max-width: 100%; max-height: 35px" value="@Model.LastName">
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4">Email:</label>
                            <input name="Email" maxlength="75" class="form-control" style="width: 100%; max-width: 100%; max-height: 35px" value="@Model.Email">
                        </div>

                        <div class="form-group">
                            <label class="col-lg-12">@Resources.Home.PhoneNumber:</label>
                            <input name="PhoneNumber" maxlength="75" style="width: 100%; max-width: 100%; max-height: 35px" class="form-control" value="@Model.PhoneNumber">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h4>Avatar</h4>
                <hr />
                @if (Model.AvatarURL != null)
                {
                    @Html.Partial("_ChangeAvatarPartial")
                }
                else
                {
                    @Html.Partial("_SetAvatarPartial")
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @Cloud.GetCloudinaryJsConfig()

    <script type="text/javascript">
        $(function () {
            $('.cloudinary-fileupload')
            .fileupload({
                dropZone: '#direct_upload',
                start: function () {
                    $('.cloudinary-fileupload').hide();
                    $('#progress').show();
                    $('#progress').addClass('active');
                },
                progress: function () {
                    //do nothing
                },
            })
            .on('cloudinarydone', function (e, data) {
                $('.cloudinary-fileupload').show();
                $('#progress').hide();
                $('#progress').removeClass('active');
                $.post('/Account/UploadDirect', data.result);
                var info = $('<div class="uploaded_info"/>');
                $('.uploaded_info_holder').empty();
                $(info).append($('<div class="image"/>').append(
                  $.cloudinary.image(data.result.public_id, {
                      format: data.result.format, width: 460, height: 300, crop: "fill"
                  })
                ));
                $('.uploaded_info_holder').append(info);
                $('#progress').hide();
            });
        });
    </script>
}
