@model OnlineShopTime.Models.LoginViewModel

@{
    ViewBag.Title = @Resources.Home.SignIn;
}
<br />
<br />
<div class="row">
    <div class="col-lg-2 col-md-2 "></div>
    <div class="col-lg-8 col-md-8 "><h2>@Resources.Home.SignIn</h2></div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 "></div>
    <div class="jumbotron col-md-8" style="padding: 0px; padding-top: 20px; padding-left: 20px">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-md-2 control-label" for="UserName" style="margin-top: 0px">@Resources.Home.UserName:</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", style="max-height: 35px" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Password">@Resources.Home.Password:</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", style="max-height: 35px"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label for="RememberMe">@Resources.Home.RememberMe</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-8 col-md-8" style="padding-left: 28px">
                            <input type="submit" value="@Resources.Home.Enter" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            @Html.ActionLink(@Resources.Home.Registration, "Register"), @Resources.Home.IfYouDontHaveAccount.
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<br />
<br />