@using OnlineShopTime.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Управление учетной записью";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-6">
        @if (ViewBag.HasAvatar)
        {
            @Html.Partial("_ChangeAvatarPartial")
        }
        else
        {
            @Html.Partial("_SetAvatarPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @Model.Cloudinary.GetCloudinaryJsConfig()

    <script src="~/Scripts/uploadtocloud.js"></script>
}
